.git/
.github/
.dvc/
.vscode/
.idea/
data/
tests/
actions-runner/
grafana/
prometheus/
postgres/
*.md
*.dvc
.gitignore
.gitattributes
.dvcignore
.pre-commit-config.yaml
.env
.env.example
docker-compose*.yml
*.Dockerfile
dvc.yaml
dvc.lock
params.yaml
__pycache__/
*.pyc
*.pyo
.pytest_cache/
