# This override file maps services to *different* host ports
# for the CI environment, avoiding conflicts with a local stack.
services:
  postgres_db:
    ports:
      - "5433:5432" # Host: 5433

  mlflow_server:
    ports:
      - "5001:5000" # Host: 5001

  model_service:
    ports:
      - "8001:8000" # Host: 8001

  dashboard:
    ports:
      - "8502:8501" # Host: 8502
  
  prometheus:
    ports:
      - "9091:9090" # Host: 9091

  grafana:
    ports:
      - "3001:3000" # Host: 3001
      
  cadvisor:
    ports:
      - "8081:8080" # Host: 8081

  minio:
    ports:
      - "9002:9000" # Host: 9002
      - "9003:9001" # Host: 9003