# --- Core Application ---
fastapi
uvicorn[standard]
pandas
scikit-learn
sqlalchemy
starlette-prometheus
aiohttp

# --- Data & ML ---
mlflow==2.9.2
transformers
torch
accelerate
evidently~=0.3.0

# --- Connectors ---
kafka-python
aiokafka
psycopg2-binary
asyncpg
boto3

# --- Training (needed in producer container) ---
nbconvert
ipykernel