# requirements.txt
pandas
scikit-learn         # For the simple model [cite: 16, 19]
fastapi              # For the API [cite: 7]
uvicorn[standard]    # To run FastAPI
kafka-python         # For the producer/consumer 
psycopg2-binary      # If using PostgreSQL 
ipykernel
aiokafka
asyncpg   # Asynchronous driver for PostgreSQL
sqlalchemy  # For creating a connection pool and defining a table
mlflow==2.9.2
nbconvert
starlette-prometheus
evidently~=0.3.0
aiohttp